bcrypt==4.2.0
fastapi==0.115.4
fastapi-csrf-protect==0.3.6
# pydantic-settings==2.6.1
# sqlmodel==0.0.22
tortoise-orm==0.22.2
Markdown==3.7
pytz==2024.2
python-slugify==8.0.4
python-multipart==0.0.17
fastapi-rss==0.2.2